/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgba(2, 2, 2, 0.05) !important;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:focus {
    background-color: #517C8C !important;
    color: #DFEDF2 !important;
    border-color: #517C8C !important;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:focus, .btn-default, .btn-default:hover, .btn-default:active, .btn-default:focus {
    background-color: #011C40 !important;
    color: #DFEDF2 !important;
    border-color: #011C40 !important;
}

.btn-primary, .btn-primary:hover, .btn-warning, .btn-warning:hover, btn-warning:focus, .btn-warning:active {
    background-color: #517C8C !important;
    color: #DFEDF2 !important;
    border-color: #517C8C !important;
}

.navbar-inverse {
    background-color: #011C40 !important;
    color: #DFEDF2 !important;
    border-color: #011C40 !important;
}

.navbar-brand {
    color: #fff !important;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    min-height: 50vh !important;
    margin: auto !important;
}