@model RoomL21.Web.Models.EventViewModel

@{
	ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Event</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="AddEvent">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="RoomId" />

			<partial name="_Event" />

			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
				<a asp-action="DetailsRoom" asp-route-id="@Model.RoomId" class="btn btn-success">Back to Room</a>
			</div>
		</form>
	</div>
</div>
